*.DS_Store
composer.lock
/node_modules/
/vendor/
/logs/
/reports/
.idea/

# Unit tests config
phpunit.xml
.travis.yml
/bin
tests/mocks/env/

# Sass cache
.sass-cache/

# Development files
/assets/vendor/